.logo-card {
    align-items: center;
    gap: 10px;
}

#mira-logo {
    height: 44px;
}

.logo-text {
    position: relative;
    top: -2px;
    font-size: 40px;
    line-height: 48px;
    font-weight: 500;
    user-select: none;
    color: var(--color-main);
}
