.issue-page-container {
    padding: 0 58px;
}

/* .issue-page-container * {
    color: var(--color-text-1);
}
 */
.issue-content {
    padding: 24px 24px 32px 32px;
    width: 61%;
}

.issue-meta {
    padding: 24px 20px 32px 8px;
    width: 38%;
}

nav.flex-row {
    gap: 25px;
    align-items: center;
}

nav .issue-key-text {
    font-size: 14px;
    line-height: 24px;
    color: var(--color-text-2);
    cursor: pointer;
}

nav a {
    text-decoration: none;
}

nav .issue-key-text:hover {
    text-decoration: underline;
}

.issue-content {
    width: 100%;
}

.issue-title,
.issue-body {
    width: 100%;
}

.issue-title {
    position: relative;
}

.issue-title .display-title {
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    padding: 6px 0;
    width: 100%;
}

input.display-title,
textarea.display-body {
    border: 2px solid var(--color-plus-2);
}

input.display-title {
    line-height: 24px;
}

.issue-body .display-body {
    width: 100%;
    font-size: 14px;
    height: 200px;
    overflow-y: scroll;
}

.title-actions {
    justify-content: flex-end;
    position: absolute;
    gap: 5px;
    right: 0;
}

.title-action-buttons {
    padding: 10px;
    box-shadow: rgb(9 30 66 / 25%) 0px 4px 8px -2px,
        rgb(9 30 66 / 31%) 0px 0px 1px;
    color: var(--color-text-2);
}

h3.issue-body-header {
    font-size: 16px;
}

.body-actions {
    gap: 10px;
}

h3.issue-status-header,
h3.issue-details-header {
    font-size: 16px;
}

.issue-status {
    max-width: 200px;
}

.issue-details-row {
    height: 32px;
    margin-bottom: 12px;
    align-items: center;
}

.issue-details-label {
    width: 35%;
    font-size: 12px;
    font-weight: 500;
}

.issue-details-field {
    width: 65%;
}

.issue-details-field .user-card {
    align-items: center;
    gap: 5px;
}

.issue-details-field .user-card .avatar {
    height: 24px;
    width: 24px;
}

/* #dynamic-assignee-form {
    position: relative;
    left: 30px;
} */

#dynamic-assignee-form .assignee-search {
    width: 200px;
}

#dynamic-assignee-form input.search-box {
    font-size: 16px;
    line-height: 24px;
}
