a {
    text-decoration: none;
}

.splash-top-nav {
    justify-content: flex-start;
    margin: 12px 0;
}

.splash-top-left {
    margin-left: 50px;
}

.splash-banner-container {
    background-color: var(--color-main);
    height: 500px;
    justify-content: center;
    align-items: center;
}

.splash-banner {
    justify-content: space-around;
    gap: 100px;
}

.splash-banner-text {
    color: white;
}

footer#splash-footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    border-top: 1px solid #dfe1e5;
}

.splash-footer {
    height: 100px;
    gap: 20px;
    align-items: center;
}

.creator-avatar,
.tech-icon img {
    width: 60px;
    height: 60px;
}

.creator-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
